{%extends 'base.html'%}
{%block title%}
Brnches List
{%endblock%}
{%block breadcrumbList%}
                    <li class="breadcrumb-item active" aria-current="page">Branches</li>
{%endblock%}      
{%block content%}         
        <div class="mb-3">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <th>name</th>
                    <th>email</th>
                    <th>count of departments</th>
                </thead>
                <tbody>
                    {% for branche in branches %}
                        <tr>
                            <td>
                                <h3 class="text-primary"><a href="{% url 'BrancheDetails' branche.id %}">{{branche.name}}</a><h3>
                                <p class="h6 text-secondary">{{branche.address}}</p>
                            </td>
                            <td>{% if branche.email %}
                                {{branche.email}}
                            {%else%}
                            {{"not exist"}}
                            {%endif%}</td>
                            <td>
                                {{branche.branche_dept.count}}
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
            <!-- Pagination controls --> 
             <div class="pagination mb-3">
                 <span class="step-links">
                    {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %} 
                    <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>
                    {% if page_obj.has_next %} 
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> 
                    {% endif %} 
                </span> 
            </div>

            <a href="{% url 'newBranche' %}" class="btn btn-outline-primary">add new Branche</a>
        </div>
{%endblock%}  