
{% extends 'base.html'%}
{%block title%}add department to {{branche.name}} baranch{%endblock%}

{%block breadcrumbList%}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'Branches' %}">Branches</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'BrancheDetails' branche.pk %}">{{branche.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">add department to {{branche.name}} baranch</li>
{%endblock%}

{%block content%}
    
    <form method="post" novalidate>
        {% include 'includes/form.html'%}
        <input type="submit" value="add department" class="btn btn-outline-success">
    </form>

{%endblock%}