{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brnches List</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="w-75 mx-auto mt-5">
            <div class="bg-secondary-subtle mt-3 p-1 ps-3 pt-3 mb-3 rounded-4 shadow-sm">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Branches</li>
                    </ol>
                </nav>    
            </div>
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <th>name</th>
                    <th>email</th>
                    <th>count of departments</th>
                </thead>
                <tbody>
                    {% for branche in branches %}
                        <tr>
                            <td>
                                <h3 class="text-primary">{{branche.name}}<h3>
                                <p class="h6 text-secondary">{{branche.address}}</p>
                            </td>
                            <td>{% if branche.email %}
                                {{branche.email}}
                            {%else%}
                            {{"not exist"}}
                            {%endif%}</td>
                            <td>
                                0
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>